@keyframes fade_in {
    from {opacity: 0; left: 50%; width: 0px; height: 0px;}
    to {opacity: 1; left: 25%; width: 50%; height: 50%;}
}

@keyframes fade_out {
    from {opacity: 1; left: 25%; width: 50%; height: 50%;}
    to {opacity: 0; left: 50%; width: 0px; height: 0px;}
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

#main_img {
    left: -10%;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 80%;
    max-width: 100%;
    bottom: 0px;
    position: absolute;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: #0d0d0d;
    transition-duration: 1.5s;
}

.big_text {
    color: #747474;
    font-family: 'Encode Sans Condensed', sans-serif;
    margin: 0px;
    
    white-space: nowrap;
    
    
}

#subtitle_div {
    font-size: calc(calc(3vw + 3vh) / 2);
    
    font-weight: 300;
}

#title_div {
   
    font-size: calc(calc(9vw + 9vh) / 2);
    font-weight: 300;
    
}

#colour_img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 200%;
    max-width: 200%;
    bottom: 0px;
    position: absolute;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    left: 500px;
}


.textOffScreen {
    left: 150%;
}

#flipper {
    position:absolute;
    top: 40%;
    left: 39%;
    
    
   
    
    
}

.flip {
   transform: rotateX(180deg); 
}





#text_div {
    position:absolute;
    top: 0px;
   transform-origin: bottom;
   background-color: #0d0d0d;
    backface-visibility: visible;
}

#go {
    padding: 5px;
    overflow: auto;
    width: calc(calc(50vw + 50vh) / 2);
    height: calc(calc(15vw + 15vh) / 2);
    font-size: calc(calc(1vw + 1vh) / 2);
    
    font-family: 'Encode Sans Condensed', sans-serif;
    margin:5px;
    font-weight: 300;
    
    padding-top: 10%;
    color:#747474;
    display: block;
    transition-duration: 0.2s;
    
  
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
}




.page {
    color: silver;
    font-family: 'Encode Sans Condensed', sans-serif;
    padding: 5px;
}

.project_listing {
    cursor: pointer;
}

